<launch>
  <node pkg="skin_segmentation" type="ici_main" name="ici_main" />
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="depth_registration" value="true" />
    <arg name="color_depth_synchronization" value="true" />
    <arg name="publish_tf" value="false" />
  </include>
  <group ns="/ici/ir_camera">
    <node pkg="image_proc" type="image_proc" name="thermal_image_proc" required="true" />
  </group>
  <node pkg="nodelet" type="nodelet" name="thermal_nodelet_manager" args="manager" />
  <node pkg="nodelet" type="nodelet" name="thermal_registration_nodelet" args="load depth_image_proc/register thermal_nodelet_manager">
    <remap from="rgb/camera_info" to="/ici/ir_camera/camera_info" />
    <remap from="depth/camera_info" to="/camera/depth/camera_info" />
    <remap from="depth/image_rect" to="/camera/depth/image_rect" />
  </node>
  <node pkg="skin_segmentation" type="normalization" name="thermal_normalization" />
  <include file="$(find skin_segmentation)/launch/tf_frames.launch" />
</launch>
